<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a routerLink="/">
        <cds-icon shape="fish"></cds-icon>
        <span class="title">T. Neda</span>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <h2>T. Neda</h2>
      <h3>About</h3>
      <ul>
        <li>Technical Support Engineer</li>
      </ul>
      <h3>Skills</h3>
      <h4>System Debugging</h4>
      <ul>
        <li>troubleshooting Linux-based OS, networks, and storage to support reliable system operations.</li>
        <li>memory dump analysis, C++ application core dump and Java heap dump (.hprof).</li>
        <li>network packet capture analysis.</li>
        <li>web frontend (Angular) debugging.</li>
      </ul>
      <h4>Web Application Development</h4>
      <ul>
        <li>environment: GitLab, Docker, Kubernetes.</li>
        <li>backend/Frontend: Spring Boot, Angular, Clarity UI.</li>
        <li>batabase: MongoDB, Redis, MySQL.</li>
      </ul>
      <button type="button" class="btn btn-icon" aria-label="contact" (click)="openModal = true">
        <cds-icon shape="envelope"></cds-icon>Contact
      </button>
      <clr-modal [(clrModalOpen)]="openModal" [clrModalSize]="'lg'">
        <div class="modal-title">Email & LinkedIn</div>
        <div class="modal-body">
          @defer {
            <ngx-turnstile [siteKey]="siteKey" (resolved)="sendCaptchaResponse($event)" theme="auto"
            [tabIndex]="0"></ngx-turnstile>
          }
          @if(secretData$ | async ; as sdata){
            @defer () {
              <h5>Email</h5>
              <a href="mailto:{{sdata.email}}">{{sdata.email}}</a>
              <h5>LinkedIn</h5>
              <a href="{{sdata.linkedin}}">{{sdata.linkedin}}</a>
            }@placeholder {
              <clr-spinner>Loading data</clr-spinner>
            }
          }
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="openModal = false">OK</button>
        </div>
      </clr-modal>
    </div>
  </div>
</div>